bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

**/bin/
**/obj/

*.sln.iml
.idea/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/

*.log

*.mdf
*.ldf

*.env

publish/

*.zip
*.tar.gz
*.7z
