@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="form-inline">
        <ul class="navbar-nav">
            <li class="nav-item pe-2">
                Hello, @UserManager.GetUserName(User)!
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}